/*************/
/* CSS RESET */
/*************/




/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
  --white-space:min(5vw, 4rem);
  --background-popups-color: #FFE53B;
  --background-popups-gradient: linear-gradient(189deg, #FFE53B 38%, #FF2525 75%);


  
}







/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
}

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}




body {
  margin:0;
  background-image: url("/images/prikbord.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: -1000;
}







/* Styling van de butttons */
 main > button {
  list-style: none;
  border: none;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: inherit ;
  position:absolute;
  padding:0;
}








/* ***************************************
Styling van de foto's op het prikbord
*************************************** */


main >  button:focus {
    animation: focus-animation 0.5s;
  }
  
  @keyframes focus-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  main >  button:nth-of-type(1) {
    background-image: url("../images/baby.png");
    width: min(16vw, 13em);
    /* height: 20em; */
    aspect-ratio:13/20;
  }

main >  button:nth-of-type(2) {
  background-image: url("../images/vw.png");
  width: min(18vw,15em);
  aspect-ratio:15/20;
  /* height: 20em; */
  left: 20vw;
  top: 30vh;
}

main >  button:nth-of-type(3) {
  background-image: url(../images/mugshot.png);
  width: min(15vw,14em);
  /* height: 20em; */
  aspect-ratio: 14/20;
  left: 40vw;
  top: 10vh;
}

main >  button:nth-of-type(4) {
  background-image: url(../images/moorden.png);
  width: min(20vw,30em);
  /* height: 20em; */
  aspect-ratio: 20/25;
  left: 65vw;
  top: 28vh;
}


main > button:nth-of-type(5) {
  background-image: url(../images/ontsnapping.png);
  width: min(10vw, 12em);
  /* height: 14em; */
  aspect-ratio: 12/14;
  top: 70vh;
  left: 40vw;
}

main > button:nth-of-type(6) {
  background-image: url(../images/school.png);
  width: min(17vw, 21em);
  /* height: 12em; */
  aspect-ratio: 21/12;
  top: 7vh;
  left: 78vw;
}

main > button:nth-of-type(7) {
  background-image: url(../images/triple_moord.png);
  width: min(12vw,12.5em);
  /* height: 20em; */
  aspect-ratio: 12.5/20;
  top: 65vh;
  left: 7vw;
}






/******************************/
/* DE CAROCARROUSEL CONTAINER */
/******************************/

.caroCarrousel {
	/* basis waarden die door de hele carrousel gebruikt worden */
	/* kun je zelf aanpassen */
	--caroCarrouselMainColor:#333;
  --caroCarrouselAccentColor:#1b75b3;
	--caroCarrouselShadeColor:#ddd9;
  --caroCarrouselInverseColor:#e48a4c;
  
  --caroCarrouselAutoScrollInterval:4000;

  position: relative;
  overflow: hidden; /* om de linkbuttons te verbergen */
	outline:none;

  position: fixed;
  z-index: 1000;
  display: flex;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: --background-popups-color;
  background-image: var(--background-popups-gradient);
  width: 45em;
  height: 45em;
  justify-content: center ;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  .caroCarrousel {
    --caroCarrouselMainColor:#ccc;
    --caroCarrouselShadeColor:#4449;
  }
}


/************************************/
/* de carrousel elementen container */
.caroCarrousel > ul {
  width:40em;
  height:40em;
  margin: 0; padding: 0;
  list-style: none;
	display: flex;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  
  /* smooth scrollen */
	scroll-behavior: smooth;
  
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
}

.caroCarrousel > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
.caroCarrousel > ul li {


  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;


  /* display: grid; */
  /* place-items:center; */
}


/**********************************/
/* de carrousel elementen content */

/* de stijlen voor jouw content hier */
.caroCarrousel > ul li > img {
  display: block;
  width: 100%;
  height:100%;
  object-fit: contain;
}


/****************/
/* DE BOLLETJES */
/****************/

/* de bolletjes container */
.caroCarrousel nav ul {
  position: absolute;
	left: 2em; right: 2em;
	bottom: 0;
	margin: 0;
  padding: 0 0 .5em;
  list-style: none;
	
	display: flex;
/* 	flex-wrap:wrap; */
  justify-content: center;
  gap:.4em;
}

/* een bolletje container */
.caroCarrousel > nav li {
	flex-basis: 1.2em;
	aspect-ratio: 1/1;
}

/* de bolletjes */
.caroCarrousel > nav a {
  display: block;
  width:100%;
  height:100%;
  
  text-decoration: none;
	color: var(--caroCarrouselMainColor);
  background-color: var(--caroCarrouselShadeColor);
	border-radius: 50%;
  outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
  
  transition: 0.5s;
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
  color: var(--caroCarrouselAccentColor);
}

.caroCarrousel > nav a.current {
  background-color: currentColor;
}


/****************************/
/* PREV EN NEXT LINKBUTTONS */
/****************************/
.caroCarrousel > a {
  position: absolute;
  width: 3em;
  aspect-ratio:1/1;
	top: calc(50% - 1.5em);
  
  color: var(--caroCarrouselMainColor);
  background-color: var(--caroCarrouselShadeColor);
  outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
	
  display:grid;
  place-items:center;
  
  transition: 0.5s;
}

/* initieel staan de links "buiten beeld" */
.caroCarrousel > a[href="previous"] {
  left:-3.5em;
}
.caroCarrousel > a[href="next"] {
  right: -3.5em;
}

/* bij hover en focus schuiven de links in beeld */
.caroCarrousel:hover > a[href="previous"],
.caroCarrousel:focus-within > a[href="previous"] {
  left:.5em;
}
.caroCarrousel:hover > a[href="next"],
.caroCarrousel:focus-within > a[href="next"] {
  right:.5em;
}

/* prev en next linkbuttons pijltjes */
.caroCarrousel > a::before,
.caroCarrousel > a::after {
  content: "";
  position: absolute;
  width: 1em; height: 4px;
  background-color: currentColor;
}

.caroCarrousel > a[href=previous]::before {
	transform-origin: 2px center;
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=previous]::after {
	transform-origin: 2px center;
	transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a[href=next]::before {
	transform-origin: calc(100% - 2px) center;
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=next]::after {
	transform-origin: calc(100% - 2px) center;
	transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a:hover,
.caroCarrousel > a:focus {
  color: var(--caroCarrouselAccentColor);
}


/*********************/
/* PLAY/PAUSE BUTTON */
/*********************/

.caroCarrousel > button {
  position: absolute;
  right: .5em;
  bottom: .5em;
  
  width: 1.2em;
  aspect-ratio:1/1;
  padding:0;
  
  font-size:inherit;
  appearance: none;
  background-color: var(--caroCarrouselShadeColor);

  border: none;
	outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
	cursor: pointer;
	
  transition: 0.5s;

	display: flex;
  justify-content: center;
	align-items: center;
}

.caroCarrousel > button:hover,
.caroCarrousel > button:focus {
  color: var(--caroCarrouselAccentColor);
}

/* play/pause button */
.caroCarrousel > button::before,
.caroCarrousel > button::after {
  content: "";
  position: absolute;
  width: .5em; height: 2px;
  background-color: currentColor;
  transform-origin: calc(100% - 1px) center;
  transition:transform 0.5s;
}

/* indien niet aan het auto-scrollen */
/* de streepjes vormen een play-icoon */
.caroCarrousel > button::before {
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > button::after {
	transform: translateY(0) rotate(-45deg);
}

/* indien aan het auto-scrollen */
/* de streepjes vormen een pauze-icoon */
.caroCarrousel.autoScrolling > button::before {
	transform: translateY(-2px);
}
.caroCarrousel.autoScrolling > button::after {
	transform: translateY(2px);
}

/* in de button draait een 'eierwekker' */
.caroCarrousel.autoScrolling > button {
	animation-name: carrouselAutoScrollingButton;
  animation-duration: calc(var(--caroCarrouselAutoScrollInterval) * 1ms);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes carrouselAutoScrollingButton {
	0%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 0%, transparent 0%); }
	2%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 2%, transparent 0%); }
	4%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 4%, transparent 0%); }
	6%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 6%, transparent 0%); }
	8%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 8%, transparent 0%); }
	
	10%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 10%, transparent 0%); }
	12%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 12%, transparent 0%); }
	14%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 14%, transparent 0%); }
	16%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 16%, transparent 0%); }
	18%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 18%, transparent 0%); }

	20%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 20%, transparent 0%); }
	22%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 22%, transparent 0%); }
	24%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 24%, transparent 0%); }
	26%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 26%, transparent 0%); }
	28%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 28%, transparent 0%); }

	30%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 30%, transparent 0%); }
	32%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 32%, transparent 0%); }
	34%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 34%, transparent 0%); }
	36%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 36%, transparent 0%); }
	38%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 38%, transparent 0%); }

	40%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 40%, transparent 0%); }
	42%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 42%, transparent 0%); }
	44%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 44%, transparent 0%); }
	46%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 46%, transparent 0%); }
	48%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 48%, transparent 0%); }

	50%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 50%, transparent 0%); }
	52%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 52%, transparent 0%); }
	54%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 54%, transparent 0%); }
	56%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 56%, transparent 0%); }
	58%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 58%, transparent 0%); }

	60%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 60%, transparent 0%); }
	62%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 62%, transparent 0%); }
	64%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 64%, transparent 0%); }
	66%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 66%, transparent 0%); }
	68%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 68%, transparent 0%); }

	70%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 70%, transparent 0%); }
	72%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 72%, transparent 0%); }
	74%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 74%, transparent 0%); }
	76%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 76%, transparent 0%); }
	78%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 78%, transparent 0%); }

	80%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 80%, transparent 0%); }
	82%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 82%, transparent 0%); }
	84%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 84%, transparent 0%); }
	86%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 86%, transparent 0%); }
	88%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 88%, transparent 0%); }

	90%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 90%, transparent 0%); }
	92%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 92%, transparent 0%); }
	94%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 94%, transparent 0%); }
	96%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 96%, transparent 0%); }
	98%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 98%, transparent 0%); }
	
	100%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 100%, transparent 0%); }
}





/* *************************
De popups voor de foto's
************************* */


.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 20px;
  display: none;
  background-color: --background-popups-color;
  background-image: var(--background-popups-gradient);

}

.closeButton {
  position: absolute;
  top: .1em;
  right: 10px;
  font-family: "Bebas Neue", sans-serif;
  background: none;
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "bloody";
  src: url("../fonts/bloody-webfont.woff");
}

h2 {
  font-family: bloody, sans-serif;
  color: red;
}

p {
  font-family: "Bebas Neue", sans-serif;
  font-size: larger;
}

