/*************/
/* CSS RESET */
/*************/




/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
  --position-relative: relative;
}







/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
}

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
  background-image: url("../images/prikbord.jpg");
  background-size: cover;
  background-position: center center;
}

button {
  border: none;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: inherit ;
  position:absolute;
}

button:hover {
  animation: flipV 1s linear;
}

@keyframes flipV {
  50%{
    transform: rotateY(180deg)
  }
  to{
    transform: rotateY(360deg);
  }
}



button:nth-of-type(1) {
  background-image: url("../images/baby.png");
  width: 13em;
  height: 20em;
}


button:nth-of-type(2) {
  background-image: url("../images/vw.png");
  width: 15em;
  height: 20em;
  left: 20em;
  top: 20em;
}

button:nth-of-type(3) {
  background-image: url(../images/mugshot.png);
  width: 14em;
  height: 20em;
  left: 50em;
  top: 5em;
}

button:nth-of-type(4) {
  background-image: url(../images/moord1.png);
  width: 15em;
  height: 20em;
  rotate: 10deg;
  left: 80em;
  top: 20em;
}

button:nth-of-type(5) {
  background-image: url(../images/moord2.png);
  width: 10em;
  height: 15em;
  rotate: -7deg;
  left: 85em;
  top: 35em;
}

button:nth-of-type(6) {
  background-image: url(../images/moord3.png);
  width: 10em;
  height: 20em;
  rotate: 5deg;
  left: 95em;
  top: 25em;
}

button:nth-of-type(7) {
  background-image: url(../images/ontsnapping.png);
  width: 12em;
  height: 14em;
  top: 50em;
  left: 50em;
}

button:nth-of-type(8) {
  background-image: url(../images/school.png);
  width: 21em;
  height: 12em;
  top: 5em;
  left: 100em;
}

button:nth-of-type(9) {
  background-image: url(../images/triple_moord.png);
  width: 12.5em;
  height: 20em;
  top: 50em;
  left: 10em;
}


img {
  position: relative;
  max-width: 25%;
}

section img {
  position: absolute;
  rotate: 39deg;
  top: 2em;
  left: 2em;

}



